body {
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #ffafcc;
    color: #2b2839;
    border-bottom: 6px solid #d8cefe;
   
}
